services:
  vscode-server:
    container_name: my-code-server
    image: ghcr.io/nerasse/my-code-server::main
    ports:
      - "8585:8586"
    environment:
      - PORT=8586
      - TOKEN=sometoken
    #store the data in the host (optional : uncomment the volumes section and change the path)
    #volumes:
    #  - /home/<USER>/appdata/my-code-server:/home/vscodeuser/
    
    #optional : add the network
    networks:
      - vscode-server-network

#optional : add the network 
networks:
  vscode-server-network:
    external: false
    name: vscode-server-network

