services:
  vscode-server:
    container_name: my-code-server
    image: ghcr.io/nerasse/my-code-server:main
    ports:
      - "${HOST_PORT:-8585}:${CONTAINER_PORT:-8585}"
    environment:
      - PORT=${CONTAINER_PORT:-8585}
      - TOKEN=${TOKEN:-sometoken}
      # Uncomment to set custom UID/GID for the vscodeuser (useful for volume permissions)
      #- PUID=${PUID:-1000}
      #- PGID=${PGID:-1000}
    #store the data in the host (optional : uncomment the volumes section and change the path)
    #volumes:
    #  - /home/<USER>/appdata/my-code-server:/home/vscodeuser/
    
    #optional : add the network
    networks:
      - vscode-server-network

#optional : add the network 
networks:
  vscode-server-network:
    external: false
    name: vscode-server-network

